/* GLOBAL */
body {
    font-family: 'Courier New', monospace;
    margin: 0;
    background: #000;
    color: #e60000;
    overflow-x: hidden;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about_section {
    padding: 80px 10%;
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}

.project_section {
    padding: 80px 10%;
    border-bottom: 1px solid rgba(255, 0, 0, 0.2);
}

.alt {
    background: #0a0a0a;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #000;
    border-bottom: 2px solid #e60000;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.logo span {
    color: #ff1a1a;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #e60000;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #a90000;
}

.email_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.emailmodal_content {
    width: fit-content;
    background-color: #a90000;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    align-items: left;

}
.email_modal a {
    width: 50%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px;
}


/* burger menu on mobile 
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background: #e60000;
    margin: 4px;
    transition: 0.3s;
}
*/

/* SKILLS GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    text-align: center;
}

.skill-card {
    padding: 10px;
    border: 1px solid #e60000;
    text-align: center;
    background: #0a0a0a;
    transition: 0.3s;
}

.skill-card:hover {
    box-shadow: 0 0 15px #ff1a1a;
}

/* PROJECTS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    padding: 20px;
    border: 1px solid #e60000;
    background: #0a0a0a;
    transition: 0.3s;
}

.project-card:hover {
    box-shadow: 0 0 20px #ff1a1a;
}

/* RESPONSIVE 
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        background: #000;
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
        border-top: 2px solid #e60000;
    }

    .burger {
        display: flex;
    }
    
}
    */
